/* .appnamebutton{
    background-color: rgb(10, 65, 50);
    border: none;
    color: white;
    padding: 10px 28px ;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
} */
/* .image1{
  width:100%;
  height: 100%;
  background-color: #1ebea5;
  opacity:0.5;
}*/
.loginmain {
  margin: 0 !important;
  padding: 0 !important;
}
.backimg{
  background-image: url(../../Images/image2.jpg);
  background-repeat: no-repeat;    
  background-size: cover;
  background-position: center;
  opacity:0.5;
  width: 100%;
  min-height: 620px;
}
.webchatbtn {
  cursor: pointer;
  background-color: mediumaquamarine;
  border: 2px solid black;
  color: black;
  padding: 10px 28px ;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px #808888;
}
      
.webchatbtn:hover {
  background-color: mintcream;
  color: mediumaquamarine;
  border-color: black;
}
.signinbtn {
  padding: 8px 25px 8px 25px !important;
  background-color: mediumaquamarine !important;
  color: black !important;
  margin-bottom: 20px;
  border: none;
  font-weight: bolder;
  font-size: x-large;
}
.signinbtn:hover {
  background-color: mintcream !important;
  color: mediumaquamarine !important;
  border: 2px solid black;
}
.CenterAliningItems{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.error{
  align-items: center;
}
.inputdiv1 {
  padding-left: 10px;
  padding-right: 10px;
}
.text-danger {
  color: red;
}
@media only screen and (max-width: 768px) {
  .backimg{
    display: none;
  }

}